<!-- about-me section -->
<section class="section about-me" id="aboutme">
    <div class="container">
        <div class="about-box">
            <div class="row">
                <div class="col-lg-6 position-relative">
                    <div class="image-round"></div>
                    <div class="about-image p-4 pb-0">
                        <img src="images/img/about.png" alt class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-item p-5">
                        <h2 class="display-5 fw-semibold">About Me</h2>
                        <p class="text-muted fs-14">As a dedicated Web and
                            Mobile Applications Engineer, I bring a strong
                            passion for crafting innovative and high-performance
                            solutions</p>
                        <ul class="nav nav-pills mb-3 mt-4 pt-2" id="pills-tab"
                            role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active"
                                    id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button"
                                    role="tab" aria-controls="pills-home"
                                    aria-selected="true">Experience</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-contact-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#pills-contact"
                                    type="button" role="tab"
                                    aria-controls="pills-contact"
                                    aria-selected="false">Education</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active"
                                id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="experience">
                                    <div class="row position-relative">
                                        <div class="col-2">
                                            <div class="border-left"></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="mt-4 pt-2">
                                                <h5>Full Stack Software
                                                    Engineer</h5>
                                                <p class="text-muted fs-15">OCP
                                                    Maintenance Solutions -
                                                    Internship</p>
                                                <p class="text-muted fs-12">Jul
                                                    2023 - Sep 2023</p>
                                                <ul class="experience-details">
                                                    <li>Developed an interactive
                                                        module for industrial
                                                        equipment diagrams on
                                                        I-SENSE IoT
                                                        platform.</li>
                                                    <li>Collaborated with UI/UX
                                                        teams to optimize user
                                                        experience.</li>
                                                    <li>Frontend development
                                                        with React, focusing on
                                                        performance.</li>
                                                </ul>
                                            </div>
                                            <div class="mt-4 pt-2">
                                                <h5>Web & Mobile Application
                                                    Developer</h5>
                                                <p
                                                    class="text-muted fs-15">Maroc
                                                    Generation Agency -
                                                    Internship</p>
                                                <p class="text-muted fs-12">Jul
                                                    2023 - Sep 2023</p>
                                                <ul class="experience-details">
                                                    <li>Designed and developed
                                                        IPTV app, client
                                                        dashboard, and static
                                                        websites.</li>
                                                    <li>Managed projects using
                                                        Agile
                                                        methodologies.</li>
                                                </ul>
                                            </div>
                                            <div class="mt-4 pt-2">
                                                <h5>Front-End Web Developer</h5>
                                                <p class="text-muted fs-15">Sté
                                                    JDI SOFT - Internship</p>
                                                <p class="text-muted fs-12">Jul
                                                    - Aug 2022 (2
                                                    months)<br>Fez-Meknes,
                                                    Morocco</p>
                                                <ul class="experience-details">
                                                    <li>Contributed to social
                                                        network and dating site
                                                        development.</li>
                                                    <li>Ensured project quality
                                                        through effective
                                                        teamwork.</li>
                                                </ul>
                                            </div>
                                            <div class="mt-4 pt-2">
                                                <h5>Intern in IT Testing and
                                                    Maintenance</h5>
                                                <p class="text-muted fs-15">INWI
                                                    - Internship</p>
                                                <p class="text-muted fs-12">Apr
                                                    - May 2022 (2
                                                    months)<br>Fez-Meknes,
                                                    Morocco</p>
                                                <ul class="experience-details">
                                                    <li>Performed functionality
                                                        tests on IT equipment
                                                        and network
                                                        protocols.</li>
                                                    <li>Gained insights into
                                                        local and global IT
                                                        systems.</li>
                                                    <li>Collaborated to ensure
                                                        smooth IT infrastructure
                                                        operations.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-contact"
                                role="tabpanel"
                                aria-labelledby="pills-contact-tab">
                                <div class="experience">
                                    <div class="row position-relative">
                                        <div class="col-2">
                                            <div class="border-left"></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="mt-4 pt-2">
                                                <h5>Euro-Mediterranean
                                                    University of Fez</h5>
                                                <p
                                                    class="text-muted fs-15 mb-0">2024</p>
                                                <p
                                                    class="text-muted fs-15 mb-0">Engineer
                                                    - Web & Mobile Application
                                                    Engineering</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row position-relative">
                                        <div class="col-2">
                                            <div class="border-left"></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="mt-4 pt-2">
                                                <h5>Euro-Mediterranean
                                                    University of Fez</h5>
                                                <p
                                                    class="text-muted fs-15 mb-0">2021</p>
                                                <p
                                                    class="text-muted fs-15">Integrated
                                                    Preparatory Cycle
                                                    Engineering training, School
                                                    of Digital Engineering and
                                                    Artificial Intelligence -
                                                    EIDIA</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row position-relative">
                                        <div class="col-2">
                                            <div class="border-left"></div>
                                        </div>
                                        <div class="col-10">
                                            <div class="mt-4 pt-2">
                                                <h5>Sidi Lahcen El Youssi High
                                                    School</h5>
                                                <p
                                                    class="text-muted fs-15 mb-0">2019</p>
                                                <p
                                                    class="text-muted fs-15">Baccalaureate
                                                    with international option,
                                                    Physics - International</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about-me -->