<!-- start footer -->
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="mt-5">
                    <a class="logo text-uppercase" href="index.html">
                        <img src="images/Logo/logo-dark.png" class="logo-light" alt="" height="150">
                    </a>
                    <p class="fs-15 text-white-50 mt-4">I am passionate about web and mobile development and I am always ready to take on new challenges.</p>
                    <div class="icon-item mt-4">
                        <div class="d-flex">
                            <a href="https://www.facebook.com/profile.php?id=100090822203508&mibextid=ZbWKwL">
                                <div class="social-icon facebook avatar-xs">
                                    <i class="mdi mdi-facebook"></i>
                                </div>
                            </a>
                            <a href="https://instagram.com/younes_shimi?igshid=NTc4MTIwNjQ2YQ==">
                                <div class="social-icon instagram avatar-xs">
                                    <i class="mdi mdi-instagram"></i>
                                </div>
                            </a>
                            <a href="https://twitter.com/youneshim_i">
                                <div class="social-icon twitter avatar-xs">
                                    <i class="mdi mdi-twitter"></i>
                                </div>
                            </a>
                            <a href="https://www.linkedin.com/in/younes-shimi/">
                                <div class="social-icon linkedin avatar-xs">
                                    <i class="mdi mdi-linkedin"></i>
                                </div>
                            </a>
                            <a href="https://www.pinterest.com/ounesshimi/">
                                <div class="social-icon pinterest avatar-xs">
                                    <i class="mdi mdi-pinterest"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <h5 class="text-white">Linkedin</h5>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="linkedin-box mt-4">
                            <p class="mb-0 text-white-50 fs-15 mb-2">The full monty spiffing good time.</p>
                            <a href="https://www.linkedin.com/in/younes-shimi/" class="fs-15">@Younes Shimi</a>
                        </div>
                    </div>
                </div>
                <div class="linkedin-content d-flex align-items-center">
                    <div class="icon">
                        <i class="mdi mdi-linkedin text-white fs-40"></i>
                    </div>
                    <div class="icon-content ms-2">
                        <a href="https://www.linkedin.com/in/younes-shimi/" class="text-white-50">Linkedin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bottom-footer py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p class="mb-0 text-center text-muted">©
                    <script>document.write(new Date().getFullYear())</script> Younes Shimi
                </p>
            </div>
        </div>
    </div>
</section>
<!-- end footer -->