<!-- home section -->
<section class="home-2" style="background-image: url(./images/home/home-2/home-bg2.png); background-size: cover;">
    <div class="container position-relative">
        <div class="home-icon">
            <a href="https://www.facebook.com/people/Younes-Shimi/pfbid02tAmCcoGhQR7fzQmn8V22Zt8nyBfUHwxy5Sj2XM89VUnyHKogDrkNqUFr6kkRjE2rl/?mibextid=ZbWKwL">
                <div class="social-icon facebook mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook">
                    <i class="mdi mdi-facebook fs-20 text-primary"></i>
                </div>
            </a>
            <a href="https://www.instagram.com/younes_shimi/?igshid=NTc4MTIwNjQ2YQ==">
                <div class="social-icon instagram mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram">
                    <i class="mdi mdi-instagram fs-20 text-primary"></i>
                </div>
            </a>
            <a href="https://twitter.com/youneshim_i">
                <div class="social-icon twitter mb-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter">
                    <i class="mdi mdi-twitter fs-20 text-primary"></i>
                </div>
            </a>
            <a href="https://www.linkedin.com/in/younes-shimi/">
                <div class="social-icon linkedin" data-bs-toggle="tooltip" data-bs-placement="top" title="Linkedin">
                    <i class="mdi mdi-linkedin fs-20 text-primary"></i>
                </div>
            </a>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="home-contact">
                    <h4 class="text-primary">Hello i'am</h4>
                    <h2 class="display-4 fw-bold mb-0">Younes Shimi</h2>
                    <h6> Web and Mobile Applications Engineer | Full-Stack Developer</h6>
                    <div class="mt-4">
                        <p class="text-muted mb-2">I am passionate about web and mobile development and I am always ready to take on new challenges.</p>
                    </div>
                    <div class="sign">
                        <img src="images/signature/Signature_Logo.png" alt="" class="img-fluid" style="resized: 150px;">
                    </div>
                    <div class="view-pdf mt-4 pt-2">
                        <div class="d-flex align-items-center">
                            <a href="Notfound.html" target="_blank" class="pdf-view-button btn btn-primary">
                                <i class="mdi mdi-file-pdf-outline me-2"></i> My Resume
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="images/img/IMG_20230605_115232_629-removebg-preview.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="watchvideomodal" data-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
                <div class="modal-content hero-modal-0 bg-transparent">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <video id="VisaChipCardVideo1" class="w-100" controls>
                        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
        <div class="welcome-text">
            <p>Younes</p>
        </div>
    </div>
</section>
<!-- end home section -->