<!-- start service -->
<section class="section service" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h6 class="mb-0 text-muted fs-15">MY SKILLS</h6>
                    <h2>Versatile Expertise</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="info-item box-shadow mt-4 pt-2">
                    <div class="p-4">
                        <div
                            class="research avatar-sm bg-soft-purple text-center">
                            <i class="mdi mdi-cached fs-24 text-purple"></i>
                        </div>
                        <h6 class="mt-4">Languages</h6>
                        <style>
                            .ticket {
                                display: inline-block;
                                margin: 10px;
                                padding: 10px;
                                border-radius: 10px;
                                background-color: #f7f7f7;
                                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                                text-align: center;
                            }
                            .ticket img {
                                display: block;
                                width: 30px;
                                height: 30px;
                                margin: 0 auto 3px;
                            }
                            .ticket p {
                                font-size: 1px;
                                font-weight: 1px;
                                margin: 0;
                            }
                        </style>
                        <div class="ticket">
                            <img src="/icon/JS.png" alt="JavaScript Logo">
                        </div>
                        <div class="ticket">
                            <img src="icon/PHP.png" alt="PHP Logo">
                        </div>
                        <div class="ticket">
                            <img src="icon/PYTHON.png" alt="Python Logo">
                        </div>
                        <div class="ticket">
                            <img src="icon/JAVA.png" alt="Java Logo">
                        </div>
                        <div class="ticket">
                            <img src="icon/C.png" alt="C Logo">
                        </div>
                        <div class="ticket">
                            <img src="icon/C++.png" alt="C++ Logo">
                        </div>
                        <div class="ticket">
                            <img src="icon/icons8-c-48.png" alt="Cechap Logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-item box-shadow mt-4 pt-2">
                    <div class="p-4">
                        <div
                            class="research avatar-sm bg-soft-danger text-center">
                            <i
                                class="mdi mdi-comment-plus-outline fs-24 text-danger"></i>
                        </div>
                        <h6 class="mt-4">Front-end</h6>
                        <div class="ticket">
                            <img src="/icon/REACT.png" alt="react">
                        </div>
                        <div class="ticket">
                            <img src="icon/BOOTSTRAP.png" alt="Bootstrap">
                        </div>
                        <div class="ticket">
                            <img src="icon/ANGULAR.png" alt="Angular">
                        </div>
                        <div class="ticket">
                            <img src="icon/TAILWIND.png" alt="Tailwind">
                        </div>
                        <div class="ticket">
                            <img src="icon/jquery.png" alt="Jequery">
                        </div>
                        <div class="ticket">
                            <img src="icon/EJS.png" alt="EJS">
                        </div>
                        <div class="ticket">
                            <img src="icon/HTML.png" alt="HTML5 Logo">
                        </div>
                        <div class="ticket">
                            <img src="icon/CSS.png" alt="CSS Logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-item box-shadow mt-4 pt-2">
                    <div class="p-4">
                        <div
                            class="research avatar-sm bg-soft-warning text-center">
                            <i class="mdi mdi-layers fs-24 text-warning"></i>
                        </div>
                        <h6 class="mt-4">Back-end</h6>
                        <div class="ticket">
                            <img src="/icon/laravel.png" alt="laravel">
                        </div>
                        <div class="ticket">
                            <img src="icon/NODEJS.png" alt="NODEJS">
                        </div>
                        <div class="ticket">
                            <img src="icon/express.png" alt="express">
                        </div>
                        <div class="ticket">
                            <img src="icon/symfony.png" alt="symfony">
                        </div>
                        <div class="ticket">
                            <img src="icon/springboot.png" alt="springboot">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="info-item box-shadow mt-4 pt-2">
                    <div class="p-4">
                        <div
                            class="research avatar-sm bg-soft-blue text-center">
                            <i
                                class="mdi mdi-inbox-arrow-up fs-24 text-blue"></i>
                        </div>
                        <h6 class="mt-4">Database</h6>
                        <div class="ticket">
                            <img src="/icon/mongodb.png" alt="mongodb">
                        </div>
                        <div class="ticket">
                            <img src="/icon/firebase.png" alt="firebase">
                        </div>
                        <div class="ticket">
                            <img src="icon/oracle.png" alt="oracle">
                        </div>
                        <div class="ticket">
                            <img src="icon/mysql.png" alt="mysql">
                        </div>
                        <div class="ticket">
                            <img src="icon/sql.png" alt="sql">
                        </div>
                        <div class="ticket">
                            <img src="icon/sqlserver.png" alt="sqlserver">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-item box-shadow mt-4 pt-2">
                    <div class="p-4">
                        <div
                            class="research avatar-sm bg-soft-primary text-center">
                            <i
                                class="mdi mdi-chart-line fs-24 text-primary"></i>
                        </div>
                        <h6 class="mt-4">Mobile Development</h6>
                        <div class="ticket">
                            <img src="/icon/flutter.png" alt="flutter">
                        </div>
                        <div class="ticket">
                            <img src="icon/DART.png" alt="DART">
                        </div>
                        <div class="ticket">
                            <img width="144" height="144"
                                src="https://img.icons8.com/color/144/android-os.png"
                                alt="android-os" />
                        </div>
                        <div class="ticket">
                            <img src="icon/native.png" alt="native">
                        </div>
                        <div class="ticket">
                            <img src="icon/ionic.png" alt="ionic">
                        </div>
                        <div class="ticket">
                            <img src="icon/cordova.png" alt="cordova">
                        </div>
                        <div class></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-item box-shadow mt-4 pt-2">
                    <div class="p-4">
                        <div
                            class="research avatar-sm bg-soft-pink text-center">
                            <i class="mdi mdi-email-open fs-24 text-pink"></i>
                        </div>
                        <h6 class="mt-4">Dev Tools</h6>
                        <div class="ticket">
                            <img src="/icon/GIT.png" alt="GIT">
                        </div>
                        <div class="ticket">
                            <img src="icon/github.png" alt="github">
                        </div>
                        <div class="ticket">
                            <img src="icon/npm.png" alt="npm">
                        </div>
                        <div class="ticket">
                            <img src="icon/jira.png" alt="jira">
                        </div>
                        <div class="ticket">
                            <img src="icon/gitlab.png" alt="gitlab">
                        </div>
                        <div class="ticket">
                            <img src="icon/bitbucket.png" alt="bitbucket">
                        </div>
                        <div class="ticket">
                            <img width="144" height="144"
                                src="https://img.icons8.com/color/144/adobe-dreamweaver--v1.png"
                                alt="adobe-dreamweaver--v1" />
                        </div>
                        <div class></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-item box-shadow mt-4 pt-2">
                    <div class="p-4">
                        <div
                            class="research avatar-sm bg-soft-pink text-center">
                            <i class="mdi mdi-email-open fs-24 text-pink"></i>
                        </div>
                        <h6 class="mt-4">Design Tools</h6>
                        <div class="ticket">
                            <img width="144" height="144"
                                src="https://img.icons8.com/color/144/figma--v1.png"
                                alt="figma--v1" />
                        </div>
                        <div class="ticket">
                            <img width="144" height="144"
                                src="https://img.icons8.com/color/144/adobe-xd--v1.png"
                                alt="adobe-xd--v1" />
                        </div>
                        <div class="ticket">
                            <img width="144" height="144"
                                src="https://img.icons8.com/color/144/adobe-photoshop--v1.png"
                                alt="adobe-photoshop--v1" />
                        </div>
                        <div class="ticket">
                            <img width="144" height="144"
                                src="https://img.icons8.com/color/144/adobe-illustrator--v1.png"
                                alt="adobe-illustrator--v1" />
                        </div>
                        <div class></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end service -->